.about {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(55px);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    color: #afbbcf;
}

.about-content {
    font-size: 1.125rem;
    color: #8993a5;
    line-height: 1.75;
}