.create{
    margin-top: 20px;
    background-color: greenyellow;
    margin-bottom: 20px;
}
.edit{
    background-color: skyblue;
    margin-bottom: 20px;
}
.delete{
    background-color: red;
    margin-bottom: 20px;
}
/* .header,.form-label{
    margin-bottom: 24px;
} */