.main-header {
  position: sticky;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo a {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.navbar a,button {
  font-size: 1.15rem;
  /* color: white; */
  text-decoration: none;
  font-weight: 500;
  margin-left: 2rem;
}

.navbar div {
  float: left;
  margin-right: 12px;
}


.item-nav a {
  color: #484646;
}
.item-nav button {
  background: none;
  border: none;
  cursor: pointer;
}
.item-nav a:hover {
  color: #484646;
}

.dropdown {
  float: left;
  overflow: hidden;
}
