.not-found {
  background-image: url("/images/garage404.jpg"); /* ודא שהתמונה בתיקיית public */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; /* גובה מלא של המסך */
  width: 100vw; /* רוחב מלא של המסך */
  position: fixed; /* כדי לוודא שזה תופס את כל המסך */
  top: 0;
  left: 0;
  z-index: 10; /* ודא שזה מעל כל רכיב אחר */
}
