.not-found {
  background-image: url("../../images/garage404.jpg"); /* עדכן את הנתיב אם התמונה בתיקיית public */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; /* גובה מלא של המסך */
  width: 100%; /* רוחב מלא של המסך */
  position: relative; /* או absolute אם נדרש */
  z-index: 10; /* ודא שזה גבוה מספיק */
}
